# Ignore OS files
.DS_Store

# Ignore secrets
.env

# Ignore database
db.sqlite3

# Ignore Python/Django artifacts
__pycache__/
*.pyc
*.pyo

# Ignore media uploads
media/papers/
media/college_logos/

# Mac OS
.DS_Store
__MACOSX/